
<div class="sidebar-content">
  <div class="profile">
    <img src="{{ "images/profile.jpg" | relURL }}" alt="Lindsay Kislingbury" class="profile-pic">
    <h1>Lindsay Kislingbury</h1>
    <div class="profile-text">student, tech explorer and pulp sci-fi enthusiast</div>
    <div class="social-links-and-toggle">
      <div class="social-links">
        {{ partial "social-links.html" . }}
      </div>
  </div>
    <div class="theme-toggle-wrapper">
      <div class="theme-toggle-wrapper">
        <button id="theme-toggle" aria-label="Toggle theme">
          <span class="mdi mdi-theme-light-dark" aria-hidden="true"></span>
        </button>
      </div>
    </div>
</div> 
